<!-- ══════ Header ══════ -->
<header class="header" style="justify-content: flex-start; gap: 0;">
    <div style="display:flex; align-items:stretch; height:100%; margin-right:auto;">
        <a href="/dashboard/"
            class="nav-center-tab {% if request.resolver_match.url_name != 'factory' %}active{% endif %}">CNC
            Vision</a>
        <a href="/factory/"
            class="nav-center-tab {% if request.resolver_match.url_name == 'factory' %}active{% endif %}">Digital
            Twin</a>
    </div>

    <div id="ai-agent-mount">
        {% if request.resolver_match.url_name == 'dashboard' %}
            {% include 'monitor/includes/ai_agent_button.html' %}
        {% endif %}
    </div>

    {% include 'monitor/includes/user_dropdown.html' %}
</header>
